additionalTrustBundlePolicy: Proxyonly
apiVersion: v1
baseDomain: {{ cluster_domain }}
compute:
- architecture: {{ secondary_architecture }}
  hyperthreading: Enabled
  name: worker
  platform:
    aws:
      amiID: {{ aws_secondary_ami_id }}
      type: {{ aws_secondary_instance_type }}
  replicas: {{ secondary_instance_count }}
controlPlane:
  architecture: {{ primary_architecture }}
  hyperthreading: Enabled
  name: master
  platform:
    aws:
      amiID: {{ aws_primary_ami_id }}
      type: {{ aws_primary_instance_type }}
  replicas: {{ primary_instance_count }}
metadata:
  name: {{ cluster_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  aws:
    region: {{ aws_default_region }}
publish: External
pullSecret: '{{ cluster_pull_secret['content'] | b64decode }}'
sshKey: |
  {{ cluster_ssh_pub_key['content'] | b64decode }}