additionalTrustBundlePolicy: Proxyonly
apiVersion: v1
baseDomain: {{ cluster_domain }}
compute:
- architecture: arm64
  hyperthreading: Enabled
  name: worker-arm
  platform: {}
  replicas: 3
controlPlane:
  architecture: arm64
  hyperthreading: Enabled
  name: control-plane-arm
  platform: {}
  replicas: 3
metadata:
  creationTimestamp: null
  name: {{ cluster_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  aws:
    region: {{ aws_default_region }}
publish: External
pullSecret: '{{ cluster_pull_secret['content'] | b64decode }}'
sshKey: |
  {{ cluster_ssh_pub_key['content'] | b64decode }}