# cert-manager-tokenrequest-rolebinding.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: cert-manager-tokenrequest
  namespace: cert-manager
subjects:
- kind: ServiceAccount
  name: {{ cert_manager_deployment_name }}
  namespace: {{ cert_manager_namespace }}
roleRef:
  kind: Role
  name: cert-manager-tokenrequest
  apiGroup: rbac.authorization.k8s.io