[Unit]
Description=outpost-{{ item }}.service
Wants=network.target
After=network.target

[Service]
Restart=on-failure
TimeoutStopSec=70
Type=simple
ExecStart=/usr/local/bin/outpost-{{ item }}-exporter.start
ExecStop=/usr/local/bin/outpost-{{ item }}-exporter.stop

[Install]
WantedBy=default.target
