apiVersion: jumpstarter.dev/v1alpha1
kind: ExporterConfig
metadata:
  namespace: outpost
  name: {{ platform_jumpstarter_namespace }}
endpoint: grpc.{{ cluster_base_domain }}:443
tls:
  ca: ""
  insecure: true
token: {{ exporter_config.token }}
grpcOptions: {}
export:
  storage:
    type: jumpstarter_driver_opendal.driver.MockStorageMux
  power:
    type: jumpstarter_driver_power.driver.MockPower
