#!/bin/bash

set -e

cd {{ work_dir}}

sudo podman run --rm -ti --net=host --privileged \
  --name outpost-{{ item }}-exporter \
  -v /run/udev:/run/udev -v /dev:/dev \
  -v /root/.kube/config:/root/.kube/config \
  -v "$PWD/{{ exporter_dir }}:/opt/app-root/src/workspace" \
  {{ container_image }} \
  /bin/bash -c "jmp run --exporter-config ./workspace/outpost-{{ item }}-exporter.yaml"
  