kind: Secret
apiVersion: v1
metadata:
  name: devspaces-secret-private-key
  namespace: "{{ platform_devspaces_namespace }}"
  labels:
    app.kubernetes.io/part-of: che.eclipse.org
    app.kubernetes.io/component: workspaces-config
  annotations:
    controller.devfile.io/mount-as: subpath
    controller.devfile.io/mount-path: /home/user/.ssh
stringData:
  builder: "{{ vm_ssh_private_key | b64encode }}"
type: Opaque
