all:
  # default values that control the OpenShift cluster deployment
  vars:
    #
    # part 1 - cluster configuration
    #

    # cloud provider selection
    cloud_provider: "aws" # aws, azure, gcp

    # cluster version
    cluster_version: "4.19.14"

    # installer architecture, see https://mirror.openshift.com/pub/openshift-v4/clients/ocp/4.19.10/
    installer_architecture: "mac-arm64" # mac, mac-arm64, linux, linux-arm64
        
    # cluster topology
    cluster_arch: "x86_64" # x86_64, aarch64, multi -> multi is only available on aws & azure !
    control_plane_arch: "amd64" #  amd64, arm64, -> only relevant when cluster_arch == multi
    cluster_topology: "default" # default, compact, metal

    # cluster configuration
    cluster_name: "rhadp"
    cluster_domain: "rhadp.example.com"
    cluster_toplevel_domain: "example.com" # top-level domain for e.g. default user emails
    cluster_default_storage_class: "gp3-csi" # "gp3-csi" (aws), "managed-csi" (azure), "standard-csi" (gcp)
    
    # pull secret, see https://console.redhat.com/openshift/create
    pull_secret_file: "inventory/pull-secret.txt" # place the pull secret at this loacation

    # cluster deployment options
    setup_arm_worker_nodes: false # create a second set of ARM worker nodes if true
    setup_baremetal_worker_node: false # create a bare-metal ARM worker node (currently AWS only)
    setup_virtualization: false # setup cnv operator on bare-metal ARM worker node (currently AWS only)

    # cluster overrides
    # see 'roles/create-cluster/defaults/main.yml' and 'roles/config-cluster/defaults/main.yml' for available variables

    #
    # part 2 - cloud provider and other credentials
    #

    # aws specific variables
    #aws_access_key_id: "abc123"
    #aws_secret_access_key: "abc123"
    #aws_default_region: "us-east-2"

    # azure specific variables
    #azure_guid: "guid123"
    #azure_client_id: "abc123"
    #azure_password: "abc123"
    #azure_tenant: "redhatOn.example.com"
    #azure_subscription: "abc123"
    #azure_resource_group: "abc123"
    #azure_default_region: "westus" # https://gist.github.com/ausfestivus/04e55c7d80229069bf3bc75870630ec8

    # gcp specific variables
    #gcp_service_account_key_file: "$HOME/.gcp/osServiceAccount.json" # place the service account key at this location
    #gcp_service_account_email: "abc@123.iam.gserviceaccount.com"
    #gcp_project_id: "project-123"
    #gcp_organization_id: "abc123"
    #gcp_default_region: "us-central1"
    
    # github org to configure
    #github_endpoint: "https://github.com"
    #github_org: "rhadp-examples"
    
    # github api token for e.g. setting up a runner
    #github_api_pat: "abc123"

    # github auth secrets
    #github_git_client_id: "abc123"
    #github_git_client_secret: "abc123"
    
    # secrets for oauth provider setup in Keycloak
    #github_oauth_client_id: "abc123"
    #github_oauth_client_secret: "abc123"

    # letsencrypt account email
    letsencrypt_email: "hello@example.com"
    
    #
    # part 3 - platform deployment options
    #
  
    rhadp_deploy_developer_hub: false # deploy the developer hub
    rhadp_deploy_jumpstart: false # deploy the jumpstart operator
    
    # resource prefix
    rhadp_prefix: "rhadp" # used in e.g. namespace creation

    # default repo for all the GitOps apps
    rhadp_gitops_repo_url: "https://github.com/rhadp/rhadp-manifests"
    rhadp_gitops_repo_revision: "develop"

    # default platform namespaces
    platform_devspaces_namespace: "{{ rhadp_prefix }}-devspaces"
    platform_developer_hub_namespace: "{{ rhadp_prefix }}-devhub"
    platform_builder_namespace: "{{ rhadp_prefix }}-builder"
    platform_jumpstarter_namespace: "{{ rhadp_prefix }}-jumpstarter"

    #
    # part 4 - platform internals
    #
    
    # default admin user
    default_admin_user: admin
    default_admin_password: openshift
    default_admin_email: "admin@example.com"

    # default users
    default_nobody_user: "nobody"
    default_nobody_password: "nobody"

    # remove the kubeadmin user and the self-provisioning role
    remove_kubeadmin: true
    remove_selfprovisioning: true
    
    # keycloak instance variables
    keycloak_db_user: "admin"
    keycloak_db_password: "openshift"
    keycloak_client_secret: "openshiftkc"

    