all:
  # default values that control the OpenShift cluster deployment
  vars:
    # cloud provider selection
    cloud_provider: "aws" # aws, azure, gcp

    # cluster version
    cluster_version: "4.19.9"

    # installer architecture, see https://mirror.openshift.com/pub/openshift-v4/clients/ocp/4.19.9/
    installer_architecture: "mac-arm64" # mac, mac-arm64, linux, linux-arm64
        
    # cluster topology
    cluster_arch: "aarch64" # x86_64, aarch64, multi -> multi is only available on aws & azure !
    control_plane_arch: "arm64" #  amd64, arm64, -> only relevant when cluster_arch == multi
    cluster_topology: "default" # default, compact, metal

    # cluster configuration
    cluster_name: "rhadp"
    cluster_domain: "rhadp.example.com"
    cluster_default_storage_class: "gp3-csi" # "gp3-csi" (aws), "managed-csi" (azure), "standard-csi" (gcp)
    
    # pull secret, see https://console.redhat.com/openshift/create
    pull_secret_file: "inventory/pull-secret.txt" # place the pull secret at this loacation

    # cluster deployment options
    setup_arm_worker_nodes: False # create a second set of ARM worker nodes if true
    setup_baremetal_worker_node: False # create a bare-metal ARM worker node (AWS only)
    setup_virtualization: False # setup cnv operator on bare-metal ARM worker node (AWS only)

    # cluster overrides
    # see 'roles/create-cluster/defaults/main.yml' and 'roles/config-cluster/defaults/main.yml' for available variables

    # platform overrides
    # see 'roles/setup-platform/defaults/main.yml' for available variables
    #rhadp_deploy_devspaces: True # deploy the devspaces operator
    #rhadp_deploy_developer_hub: False # deploy the developer hub
    #rhadp_deploy_jumpstart: False # deploy the jumpstart operator
    #rhadp_deploy_builder: False # deploy the builder VMs

    # aws specific variables
    #aws_access_key_id: "abc123"
    #aws_secret_access_key: "abc123"
    #aws_default_region: "us-east-2"

    # azure specific variables
    #azure_guid: "guid123"
    #azure_client_id: "abc123"
    #azure_password: "abc123"
    #azure_tenant: "redhatOn.example.com"
    #azure_subscription: "abc123"
    #azure_resource_group: "abc123"
    #azure_default_region: "westus" # https://gist.github.com/ausfestivus/04e55c7d80229069bf3bc75870630ec8

    # gcp specific variables
    #gcp_service_account_key_file: "$HOME/.gcp/osServiceAccount.json" # place the service account key at this location
    #gcp_service_account_email: "abc@123.iam.gserviceaccount.com"
    #gcp_project_id: "project-123"
    #gcp_organization_id: "abc123"
    #gcp_default_region: "us-central1"
    
    # github secrets
    #github_endpoint: "https://github.com"
    #github_oauth_client_id: "abc123"
    #github_oauth_client_secret: "abc123"
    #github_git_client_id: "abc123"
    #github_git_client_secret: "abc123"
    #github_api_pat: ""abc123"
    #github_org: "example.org-examples"

    # letsencrypt account email
    letsencrypt_email: "hello@example.com"
    
    # user setup
    default_tld: "example.com" # top-level domain for default users

    # default admin user
    default_admin_user: admin
    default_admin_password: openshift
    default_admin_email: "admin@example.com"
    
    # keycloak instance variables
    keycloak_db_user: "admin"
    keycloak_db_password: "openshift"

    