all:
  vars:
    # cluster variables
    cluster_name: "rhadp"
    cluster_domain: "example.com"

    # cluster variables
    primary_architecture: "arm64" # control plane
    secondary_architecture: "amd64" # initial compute nodes

    primary_instance_count: 3 # 3 nodes minimum, on 3 different availability zones
    secondary_instance_count: 3 # 3 nodes minimum, on 3 different availability zones
    
    # cloud provider specific variables
    cloud_provider: "aws" # aws, azure, gcp

    # aws specific variables
    aws_access_key_id: "abc123"
    aws_secret_access_key: "def456"
    aws_default_region: "us-east-2"

    # azure specific variables
    
    # gcp specific variables
    
    # letsencrypt variables
    letsencrypt_email: "hello@example.com"
    
    # default users for the htpasswd authentication
    htpasswd_admin_user: admin
    htpasswd_admin_password: PASSWORD

    remove_kubeadmin: True
    remove_selfprovisioning: True

    # keys
    cluster_ssh_key: "$HOME/.ssh/rhadp"