export GUID={{ azure_guid }}
export CLIENT_ID={{ azure_client_id }}
export PASSWORD={{ azure_password }}
export TENANT={{ azure_tenant }}
export SUBSCRIPTION={{ azure_subscription }}
export RESOURCEGROUP={{ azure_resource_group }}