apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  annotations:
    capacity.cluster-autoscaler.kubernetes.io/labels: kubernetes.io/arch=arm64
    machine.openshift.io/GPU: '{{ gcp_arm_gpu }}'
    machine.openshift.io/memoryMb: '{{ gcp_arm_memory }}'
    machine.openshift.io/vCPU: '{{ gcp_arm_vcpu }}'
  name: {{ cluster_label }}-arm-worker-1
  namespace: openshift-machine-api
  labels:
    machine.openshift.io/cluster-api-cluster: {{ cluster_label }}
    machine.openshift.io/cluster-api-machineset: {{ cluster_label }}-arm-worker-1
    machine.openshift.io/cluster-api-machine-role: worker
    machine.openshift.io/cluster-api-machine-type: worker
    rhadp.node-role/builder: 'true'
spec:
  replicas: 1
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ cluster_label }}
      machine.openshift.io/cluster-api-machineset: {{ cluster_label }}-arm-worker-1
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: {{ cluster_label }}
        machine.openshift.io/cluster-api-machineset: {{ cluster_label }}-arm-worker-1
        machine.openshift.io/cluster-api-machine-role: worker
        machine.openshift.io/cluster-api-machine-type: worker
        rhadp.node-role/builder: 'true'
    spec:
      lifecycleHooks: {}
      metadata: {}
      providerSpec:
        value:
          machineType: {{ gcp_arm_instance_type }}
          userDataSecret:
            name: worker-user-data
          deletionProtection: false
          networkInterfaces:
            - network: {{ cluster_label }}-network
              subnetwork: {{ cluster_label }}-worker-subnet
          credentialsSecret:
            name: gcp-cloud-credentials
          zone: {{ gcp_default_region }}-a
          canIPForward: false
          metadata:
            creationTimestamp: null
          projectID: {{ gcp_project_id }}
          region: {{ gcp_default_region }}
          kind: GCPMachineProviderSpec
          disks:
            - autoDelete: true
              boot: true
              image: projects/rhcos-cloud/global/images/rhcos-9-6-20250523-0-gcp-aarch64
              labels: {}
              sizeGb: {{ gcp_arm_volume_size }}
              type: {{ gcp_arm_volume_type}}
          tags:
            - {{ cluster_label }}-worker
          serviceAccounts:
            - email: {{ cluster_label }}-w@{{ gcp_project_id }}.iam.gserviceaccount.com
              scopes:
                - 'https://www.googleapis.com/auth/cloud-platform'
          apiVersion: machine.openshift.io/v1beta1
          shieldedInstanceConfig: {}