# see https://github.com/keycloak/keycloak/blob/main/operator/src/test/resources/example-realm.yaml
apiVersion: k8s.keycloak.org/v2alpha1
kind: KeycloakRealmImport
metadata:
  name: openshift-realm
  namespace: {{ keycloak_namespace }}
spec:
  keycloakCRName: keycloak
  realm:
    realm: openshift
    enabled: true
    displayName: "Automotive Development Platform Authentication Realm"

    groups: # should match default openshift groups
      - name: cluster-admins
        path: /cluster-admins
      - name: platform-admins
        path: /platform-admins
        clientRoles:
          account:
            - view-profile
            - view-groups
            - manage-consent
            - view-consent
            - delete-account
            - manage-account
            - manage-account-links
            - view-applications

      - name: developers
        path: /developers

    clients:
      - name: openshift
        clientId: openshift
        enabled: true
        standardFlowEnabled: true
        directAccessGrantsEnabled: true
        secret: "{{ keycloak_client_secret }}"
        redirectUris:
          - "https://oauth-openshift.apps.{{ cluster_name }}.{{ cluster_domain }}/oauth2callback/*"
          - "https://console-openshift-console.apps.{{ cluster_name }}.{{ cluster_domain }}/*"
        webOrigins:
          - "https://oauth-openshift.apps.{{ cluster_name }}.{{ cluster_domain }}"
          - "https://console-openshift-console.apps.{{ cluster_name }}.{{ cluster_domain }}"
        bearerOnly: false
        publicClient: false
        serviceAccountsEnabled: true
        authorizationServicesEnabled: true
        fullScopeAllowed: true
        protocol: openid-connect
        consentRequired: false
        frontchannelLogout: true
        access:
          view: true
          configure: true
          manage: true

    clientScopes:
      - name: openshift
        protocol: openid-connect
        protocolMappers:
          - name: user_group_in_jwt
            protocol: openid-connect
            protocolMapper: oidc-group-membership-mapper
            config:
              claim.name: "groups"
              full.path: "false"
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              id.token.claim: "true"
              lightweight.claim: "false"
              access.token.claim: "true"
              jsonType.label: "String"

    users:
      - username: steve
        email: steve@{{ default_tld }}
        emailVerified: true
        enabled: true
        firstName: "Steve"
        lastName: "Admin"
        credentials:
          - type: password
            value: "steve"
            temporary: true
        realmRoles:
          - default-roles-openshift
        groups:
          - cluster-admins
          - platform-admins

      - username: bibi
        email: bibi@{{ default_tld }}
        emailVerified: true
        enabled: true
        firstName: "Bibi"
        lastName: "RHIVOS Developer"
        credentials:
          - type: password
            value: "bibi"
            temporary: true
        realmRoles:
          - default-roles-openshift
        groups:
          - developers

      - username: karol
        email: karol@{{ default_tld }}
        emailVerified: true
        enabled: true
        firstName: "Karol"
        lastName: "Application Developer"
        credentials:
          - type: password
            value: "karol"
            temporary: true
        realmRoles:
          - default-roles-openshift
        groups:
          - developers
