apiVersion: keycloak.org/v1alpha1
kind: KeycloakRealm
metadata:
  name: openshift
  namespace: {{ keycloak_namespace }}
  finalizers:
    - realm.cleanup
  labels:
    app: openshift
spec:
  instanceSelector:
    matchLabels:
      app: keycloak
  realm:
    displayName: Openshift Authentication Realm
    enabled: true
    id: openshift
    realm: openshift
status:
  loginURL: ''
  message: ''
  phase: reconciling
  ready: true
