apiVersion: keycloak.org/v1alpha1
kind: KeycloakUser
metadata:
  name: admin
  namespace: {{ keycloak_namespace }}
  finalizers:
    - user.cleanup
  labels:
    app: openshift
spec:
  realmSelector:
    matchLabels:
      app: openshift
  user:
    credentials:
      - type: password
        value: "{{ admin_password_hash }}"
    email: "{{ default_admin_email }}"
    emailVerified: true
    enabled: true
    username: "{{ default_admin_user }}"
status:
  message: ''
  phase: reconciled
