apiVersion: k8s.keycloak.org/v2alpha1
kind: KeycloakRealmImport
metadata:
  name: openshift-realm
  namespace: {{ keycloak_namespace }}
spec:
  keycloakCRName: keycloak
  realm:
    realm: openshift
    enabled: true
    displayName: "OpenShift Authentication Realm"
    groups:
      - name: cluster-admins
        path: /cluster-admins
      - name: developers
        path: /developers
    clients:
      - name: openshift
        clientId: openshift
        enabled: true
        standardFlowEnabled: true
        directAccessGrantsEnabled: true
        secret: "{{ keycloak_client_secret }}"
        redirectUris:
          - "https://oauth-openshift.apps.{{ cluster_name }}.{{ cluster_domain }}/oauth2callback/*"
          - "https://console-openshift-console.apps.{{ cluster_name }}.{{ cluster_domain }}/*"
        webOrigins:
          - "https://oauth-openshift.apps.{{ cluster_name }}.{{ cluster_domain }}"
          - "https://console-openshift-console.apps.{{ cluster_name }}.{{ cluster_domain }}"
        bearerOnly: false
        publicClient: false
        serviceAccountsEnabled: true
        authorizationServicesEnabled: true
        fullScopeAllowed: true
        protocol: openid-connect
        consentRequired: false
        frontchannelLogout: true
        #scope: "openid profile email"
        access:
          view: true
          configure: true
          manage: true
    
    #clientScopes:
    #  - name: openshift
    #    protocol: openid-connect
    #    protocolMappers:
    #    
    #      # Group membership mapper
    #      - name: group-membership-mapper
    #        protocolMapper: oidc-group-membership-mapper
    #        config:
    #          claim.name: "groups"
    #          jsonType.label: "String"
    #          idToken.claim: "true"
    #          accessToken.claim: "true"
    #          userinfo.token.claim: "true"
    #          full.path: "true"
    #
    #      # Roles mapper
    #      - name: roles-mapper
    #        protocolMapper: oidc-usermodel-realm-role-mapper
    #        config:
    #          claim.name: "roles"
    #          jsonType.label: "String"
    #          idToken.claim: "true"
    #          accessToken.claim: "true"
    #          userinfo.token.claim: "true"
    #          multivalued: "true"

    users:
      - username: developer
        email: developer@{{ cluster_domain }}
        emailVerified: true
        enabled: true
        firstName: "Dev"
        lastName: "Null"
        credentials:
          - type: password
            value: "developer"
            temporary: true
        realmRoles:
          - default-roles-openshift
        groups:
          - developers
