apiVersion: v1
kind: Secret
metadata:
  name: keycloak-temp-admin-secret
  namespace: {{ keycloak_namespace }} 
stringData:
  username: {{ default_admin_user }}
  password: {{ default_admin_password }}
