apiVersion: v1
kind: OAuth
metadata:
  name: cluster
spec:
  identityProviders:
  - name: "Automotive Development Platform"
    mappingMethod: claim
    type: OpenID
    openID:
      clientID: openshift
      clientSecret:
        name: openshift-openid-client-secret
      claims:
        email:
          - email
        groups:
          - groups
        name:
          - name
        preferredUsername:
          - preferred_username
      extraScopes: []
      issuer: https://keycloak-{{ keycloak_namespace }}.apps.{{ cluster_name }}.{{ cluster_domain }}/realms/openshift
  
  - name: OpenShift
    mappingMethod: claim
    type: HTPasswd
    htpasswd:
      fileData:
        name: htpasswd-secret