additionalTrustBundlePolicy: Proxyonly
apiVersion: v1
baseDomain: {{ cluster_domain }}
metadata:
  name: rhadp
compute:
{% if cluster_topology == "compact" %}
- name: worker
  platform: {}
  replicas: 0
{% else %}
- name: worker
  architecture: {{ gcp_worker_architecture }}
  hyperthreading: Enabled
  platform:
    gcp:
      defaultMachinePlatform:
        type: {{ gcp_worker_instance_type }}
  replicas: {{ gcp_worker_instance_count }}
{% endif %}
controlPlane:
  architecture: {{ gcp_control_plane_architecture }}
  hyperthreading: Enabled
  name: master
  platform:
    gcp:
      defaultMachinePlatform:
        type: {{ gcp_control_plane_instance_type }}
  replicas: {{ gcp_control_plane_instance_count }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  gcp:
    projectID: {{ gcp_project_id }}
    region: {{ gcp_default_region }}
publish: External
pullSecret: |
  {{ cluster_pull_secret['content'] | b64decode }}
sshKey: |
  {{ cluster_ssh_pub_key['content'] | b64decode }}
