# Implement your initial tasks here
# -------------------------------------------------

- name: set the local kubeconfig location
  set_fact:
    local_kubeconfig_file: "~/.kube/{{ cluster_name }}" # ~

- name: set the keycloak client secret
  set_fact:
    keycloak_client_secret: "{{ temp_secret }}"
  